
.circuit_Info_Header{
    width: auto;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.7;
    text-align: center;
    margin-top:-1.4rem;
}

.circuit_Info_Header_Title{
   padding: 90px;
}

.circuit_Info_container_Image{
  margin-left: 150px;
}


.circuit_Info_container_inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.circuit_Info_container_inner_card{
  border-bottom-right-radius: 40px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  width: 400px;
  height:150px;
  align-content: center;
  text-align: center;
  padding: 20px;
}

.icon{
  
}
.circuit_Info_Header_Sub_Title{
}


.circuit_Info_container{
  color: none;
  text-align: center;
}




a.Link:link {
  text-decoration: none;
}


.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: none;
    margin-left: 500px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: none;
    border-bottom: 2px solid red;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 100rem;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }