.container{
   text-align:center;
  
}

h1{
text-align: center;
}


.form_row_points{
    margin-left: 200px;
}

input{
    margin-bottom: 40px;
    padding:0.5rem;
}


label{
    margin-right: 20px;
    display: block;
}


input[type="text"]{
    width: 350px;
}

input[type="number"]{
    width: 100px;
    
    
}


 .points{
    margin-right: 200px;
}

.label-points{
    margin-right:200px; 
}

.create_primary{
    margin-left: 550px;
}