

.create__textbox{
  margin-bottom: 20px;
  margin-top:20px;
  height: 150px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid #C4C4C4;
}

.css-10nd86i{
    width: 500px;
}
.select-container{
display: flex;
}

.select__control{
    width: 500px;
    height: 20px;
    margin-left:400px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.select__menu{
    width: 100px;
    height: 90px;
    margin-left:400px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;

}

.select__menu-list,.select__option{
    height:80px;
    width:500px;
}




.select__menu-portal{
    height:50px;

}
.create__circuit-form{
    text-align: center;
}

.create-circuit__primary{
    margin-left: 550px;
}

