img{
    width: 500px;
    height: 500px;
}



.driverInfo_container{

    display:grid;
    grid-gap: 100px;
    grid-template-columns: 500px 500px;
}


.display-none{
    display:none;
}

.display-block{
    display:block;
}

.modal_form{
    justify-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.modal_button{
    width:200px;
    height:30px;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.modal_button_close{
    margin-left:1000px;
}

input{
    border-radius: 8px;
    border: 2px solid #C4C4C4;
    margin-left:5px;
}