img{
    width: 500px;
    height: 500px;
}



.driverInfo_container{

    display:grid;
    grid-gap: 100px;
    grid-template-columns: 500px 500px;
}


.display-none{
    display:none;
}

.display-block{
    display:block;
}

.modal_form{
    justify-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.modal_button{
    width:100px;
    height:30px;
}

.modal_button_close{
    margin-left:1000px;
}