.menu ul {
    
    display: grid;
    grid-template-columns: repeat(7, minmax(10px,1fr));
    list-style: none;
    justify-content: space-around;
    margin-left: 200px;
    grid-column-gap: 20px;
    
    
  }

  .menu{
    height: 80px;
  }


  .menu ul li{
    position: relative;
    float: left;
  
    padding:0;
    
  }
  
  .menu ul ul {
    display: none;
    position: absolute;
    top:60%;
    left:-200px;
  

  }

  .menu ul ul li {
    float:none;
    width:200px;
  }


  .menu ul ul h3 {
    line-height: 120%;
    padding: 10px 15px;
  }

  .menu ul ul ul {
    top:0;
    left:100%;
  }
  .menu ul li:hover > ul,
  ul li ul:hover{
    visibility: visible;
    display:block;
  }
 
  .dropdown{
    background-color: #ffffff;
    border: 2px solid #cc0001;
    margin-right:200px;
    border-radius: 5px;
  }

  .menu_right{
    margin-left:45px;
  }

  
  
  [aria-controls="menu-list"] {
    visibility: hidden;

}


  @media (max-width: 1000px) {

    .menu {
      order: -1;
      perspective: 800px;
    }
    [aria-controls="menu-list"] {
      display: block;
      margin-bottom: 10px;
      visibility: visible;

      
    }
  
    .menu ul {
      max-height: 0;
      overflow: hidden;
      transform: rotateX(90deg);
      grid-template-rows: repeat(7,1fr);
      transition: all 0.5s;
    }
  
    [aria-expanded="true"] ~ ul {
      display: grid;
      max-height: 500px;
      transform: rotateX(0);
    }
  
    [aria-expanded="false"] .close {
      display: none;
    }
  
    [aria-expanded="true"] .close {
      display: inline-block;
    }
  
    [aria-expanded="true"] .open {
      display: none;
    }
  
  }