@import url('https://fonts.googleapis.com/css?family=Audiowide|Jura');


/*For headings 

font-family: 'Audiowide', cursive;

*/

body {
  margin: auto;
  font-family: 'Jura', sans-serif;

}

h1,h2,h4,h5,h6{
  font-family: 'Audiowide', cursive;

}

input{
  max-width: 500px;

}


.white{
  color: #f7f7ff;
}

.red{
  background-color: #cc0001;
}

.background-black{
   background-color: #000000;
}

.f11{
  font-size:11px;
}

.w85{
  width: 100%;

}

.button{
  font-family: 'Jura', sans-serif;
  font-size: 10pt;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.db{display:block;}

